/*CSS para vista principal*/
.navigation {
	background-color: #008080;
}

.menu {
	display: inline;
}

.logo {
	margin-left: 175px;
	font-family: 'Slabo 27px', serif;	
}

.container-europa {
	width: 40px;
}

.image {
	height: 50px;
	margin-left: 130px;
	border-radius: 10px;
	width: 85px;
	margin-top: 8px;
}

.text {
	font-family: 'Oswald', sans-serif;
}

.pages {
	margin-right: 150px;
}

footer.page-footer {
    background-color: #008080;
}

body {
	background-color: #E0FFFF;
}


/*CSS para la vista Inicio*/
.intro {
	margin-bottom: -90px;
}