/*CSS para vista principal (index.html)*/

main {
	flex:1 0 auto;
}

body {
    background-color: #F5FFFA;
}

.navigation {
    background-color: #008080;
}

.menu {
    display: inline;
}

.more {
    font-family: 'Pacifico', cursive;
    color: #7CFC00;
}

.logo {
    margin-left: 175px;
    font-family: 'Lato', sans-serif;
    z-index: 2;
}

.container-europa {
    width: 40px;
}

.image {
    height: 50px;
    margin-left: 130px;
    border-radius: 10px;
    width: 85px;
    margin-top: 8px;
    opacity: 0.7;
    z-index: -2;
}

.text {
    font-family: 'Lato', sans-serif;
    color: #7CFC00;
}

.pages {
    margin-right: 150px;
}

footer.page-footer {
    background-color: #008080;
}


/*CSS para la vista home.html*/

.slider .slides li .caption {
    color: #7CFC00;
    font-family: 'Josefin Sans', sans-serif;
}

.slider-img {
	opacity: 0.7;
}

.slider-text {
	font-size: 50px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/*.slider-adjustment {
	position: absolute;
    top: 64px;
    left: 0;
    bottom: 158.3px;
    right: 0;
}*/

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 50px !important;
    margin: 0;
    z-index: 9;
}

}
.portada {
    width: 100%;
    height: 100%;
}

/*CSS para la vista Intro.html*/
.intro {
    margin-bottom: -90px;
    margin-top: -40px;
}

.btn-large {
	background-color: #ff8300;
}

.new-text {
	color: #ff8300;
	font-family: 'Josefin Sans', sans-serif;
}

.relevant {
	font-size: 18px;
}

.relevant1 {
	font-size: 26px;
}

.icons-intro {
	margin-top: 22px;
	margin-bottom: -35px;
}
/*CSS para la vista Where.html*/
.card {
    width: 350px;
    height: 475px;
    display: inline-block;
}
.size {
    height: 387px;
}

.card .card-image img {
    height: 300px ;
}

/*CSS para la vista Fun.html*/
.formulario {
    margin-top: 20px;
}
.content-box {
    margin-top: 10px;
}
.card-box {
    display: inline-block;
    margin-right: 70px;
}
.card-title {
    color: #FF9800;
}

/*CSS para la vista Login*/
.caja {
	border: 3px solid blue;
	height: 200px;
	margin-top: 130px;
	margin-bottom: 130px;
}

.btn-fran {
	margin-top: 50px;
}
/*
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
*/