<div class="slider">
    <ul class="slides">
        <li>
            <img src="img/graffiti.jpg" class="slider-img">
            <!-- random image -->
            <div class="caption center-align">
                <h3 class="slider-text">Enjoy your Erasmus in another way...</h3>
            </div>
        </li>
        <li>
            <img src="img/portada2.jpg" class="slider-img">
            <!-- random image -->
            <div class="caption right-align slider-text">
                <h3 class="slider-text">New places are waiting you...it's time</h3>
            </div>
        </li>
        <li>
            <img src="img/party.jpg" class="slider-img">
            <!-- random image -->
            <div class="caption center-align slider-text">
                <h3 class="slider-text">Have some fun!"</h3>
            </div>
        </li>
        <li>
            <img src="img/students.jpg" class="slider-img">
            <!-- random image -->
            <div class="caption right-align slider-text">
                <h3 class="slider-text">Organize activities and enroll in them!</h3>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.slider').slider({
        full_width: true
    });
}); 
</script>
<!--<img src="img/portada2.jpg" alt="Imagen de la portada" class="cont-portada">-->
