<div class="section no-pad-bot" id="index-banner">
    <div class="container intro">
        <br>
        <br>
        <h1 class="header center new-text">Welcome to Erasmore App!</h1>
        <div class="row center">
            <h5 class="header col s12 light">Live and take more advantage of your Erasmus experience</h5>
        </div>
        <div class="row center">
            <a href="#/where" id="download-button" class="btn-large waves-effect waves-light">START NOW</a>
        </div>
        <br>
        <br>
    </div>
</div>
<div class="container icons-intro">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons medium">location_on</i></h2>
                    <h5 class="center new-text relevant1">Places</h5>
                    <p class="light center-align relevant">Find places near your study centre and explore the city in a better way</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons medium">group</i></h2>
                    <h5 class="center new-text relevant1">Friends</h5>
                    <p class="light center-align relevant">Meet new people and share interests with them</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons medium">store</i></h2>
                    <h5 class="center new-text relevant1">Activities</h5>
                    <p class="light center-align relevant">Organize activities, enroll in new ones and make people do things together</p>
                </div>
            </div>
        </div>
    </div>
</div>  
