<!-- <section ng-controller="Posts">
 <div class="row">
        <div class="col s12">
            <div class="col s4 card hoverable" ng-repeat="post in posts">
                <div class="card-image">
                    <img src="{{post.image}}">
                </div>
                <div class="card-content">
                    <p></p><strong>{{post.title | uppercase}}</strong><br>
                    <p>Address:{{post.address}}</p><br>
                    <p><strong>Date:</strong>{{post.date}}</p><br>
                    <p><strong>Description:</strong>{{post.Description}}</p>
                </div>  
                <div class="card-action">
                    <a href="#info/{{band.name}}">Some one more</a>
                </div>
            </div>
        </div>
    </div> 
</section>-->
<section ng-controller="Posts">
    <form class="formulario ">
        <div class="row">
            <div class="col s4 offset-s2">
                <input placeholder="Search by city" type="text" ng-model="searchText.city">
            </div>
            <div class="col s4">
                <input placeholder="Search by category" type="text" ng-model="searchText.category">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s12 content-box">
            <div class="card hoverable card-box" ng-repeat="post in posts | filter: searchText">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{post.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator"><p class="center-align">{{post.title | uppercase}}</p><i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Ubicación</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title center-align">{{post.title | uppercase}}<i class="material-icons right">close</i></span>
                    <p><b>Address:</b> {{post.address}}</p>
                    <p><b>Date:</b> {{post.date}}</p>
                    <p><b>Description:</b> {{post.Description}}</p>
                    <p>Are you coming?</p>
                    <input placeholder="Enter your name" id="name" type="text" class="validate" ng-model="nuevoAsistente.name">
                    <input placeholder="Enter your nationality" id="nationality" type="text" class="validate" ng-model="nuevoAsistente.nationality">
                    <button class="waves-effect waves-light btn" ng-click="addAssistant()">Confirm</button>
                    <button class="waves-effect waves-teal btn-flat">Assistants</button>
                    <ul>
                        <li id="asistentes" ng-repeat="asistente in asistentes">{{asistente.name}} - {{asistente.nationality}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<section>
