<div class="container">
<section ng-controller="Faculties">
    <form class="formulario ">
        <div class="row">
            <div class="col s4 offset-s2">
                <input placeholder="Search by City" type="text" ng-model="searchText.city">
            </div>
            <div class="col s4">
                <input placeholder="Search by faculty" type="text" ng-model="searchText.name">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s12">
            <div class="col s6 card hoverable" ng-repeat="faculty in faculties | filter: searchText">
                <div class="card-image">
                    <img src="{{faculty.image}}">
                </div>
                <div class="card-content">
                    <p class="align-center"><b>{{faculty.name | uppercase}}</b></p>
                    <p><strong>Address: </strong>{{faculty.address}}</p>
                </div>
                <div class="card-action">
                    <a  href="#/">Location</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
